#TopHeading {
    color:white;
    background-color: brown;
    line-height: 90px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px black solid;
    border-radius: 30px;
    text-align: center;
}
.container {
    background-color: lightblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.header {
    opacity: 0.7;
}

.contentContainer {
    border:2px solid black;
    background-color: brown;
    width: 100%;
    display: grid;
    gap:2px;
    padding: 10px;
    border-radius: 3px;
}
.expense {
    border: 2px white solid;
    padding:10px;
    color: lightgreen;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.expenseSpendeeList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    color: yellow;
}

#footer {
    background-color: yellow;
    width: 100%;
    margin: 30px;
    padding:20px;
    border:2px black solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.balanceName {
    font-size: 20px;
    font-weight: bolder;
}
.balanceAmount {
    color: red;
    font-size: 30px;
}

#authorSector {
    background-color: darkblue;
    width: 100%;
    padding:20px;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#authorSector input {
    margin-right: 20px;
    border-radius: 3px;
    border: 2px solid black
}
#authorSector input:hover {
    border:2px greenyellow solid;
}
#authorSector button {
    padding: 3px 6px;
    background-color: yellow;
    opacity: 0.6;
    border: 2px solid white;
    border-radius: 16px;

}
#authorSector button:hover {
    transform: scale(1.2);
    opacity: 1;

}
#billSection {
    background-color: yellow;
    width: 100%;
    padding:20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#billSection h2 {
    font-size: 20px;
}
#billSection input {
    border-radius: 50px;
    line-height: 20px;
}
#billSection input:hover {
    transform: scale(1.2);
    background-color: red;
    color:white;
}